// Place all the styles related to the publications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  margin-top: 50px;
}

.highlight{
  width:80%; 
  margin: 5%; 
}

.publication {
  border-left:1px solid #efefef;
  margin-top:-20px;
  margin-bottom:10px;
}

.highlight small {
  color: #ddd;
}

